.quiz-container{
    display: none;
    flex-direction: row;
}


.question-options-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width:90%;
}

.timer{
    font-size:80px;
    margin-left:20px;
    background-color: transparent;
    width:150px;
    border: none;
    text-align:center ;
}

.question-title{
    font-size:60px;
    margin-top:50px;
    margin-bottom: 50px;
    text-align: center;
}

.question-options{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 90px;
}

.left-section, .right-section{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.left-section{
    margin-right: 40px;
}

.radio-option{
    transform: scale(3);
    position: relative;
    top:-4px;
    vertical-align: middle;
    margin-right: 20px;
    
}


.submit-answer-button{
    font-size:50px;
    width:230px;
    border:5px solid rgb(44, 197, 252);
    background-color: rgb(128, 218, 251);;
    border-radius: 20px;
    transition: 0.15s;
}

.submit-answer-button:hover{
    background-color: rgb(77, 202, 247);
}


.submit-answer-button:active{
    background-color: rgb(44, 197, 252);
}


@media(max-width:750px){
    .quiz-container{
        display: none;
        flex-direction: column-reverse;
        align-items: center;
    }
}
