.starting-screen-container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align:center;
}

.quiz-title{
    font-size:60px;
    font-weight: bold;
    margin-top:50px;
    margin-bottom: 60px;
    /* background-color: lightpink; */
}
.instructions{
    font-size:30px;
    margin-top:0;
    margin-bottom: 100px;
}

.lower-section{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    width: 80%;
    /* background-color: yellow; */
}

.start-button-container{
    align-items: center;
}

.start-button{
    font-size: 70px;
    border:none;
    width: 240px;
    height: 160px;
    border-radius: 20px;
    background-color: rgb(71, 156, 241);
    cursor: pointer;
}

.start-button:hover{
    color:white;
}

.high-score-container{
    background-color: lightblue;
    /* align-items: center; */
    left: 10%;
    bottom: 0%;
    position: absolute;
    padding:8px;
}

.high-score-text{
    /* position: absolute; */
    /* left:0;
    bottom:0; */
    font-size: 20px;
}

@media(max-width:810px){
    .lower-section{
        /* background-color: red; */
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
     
    }
    .high-score-container{
        left:auto;
        bottom: auto;
        margin-top: 20px;
        position: relative;
        width:10em;
    
    }
}